@import url('https://fonts.googleapis.com/css?family=Offside:700|Offside:400');
@import url('https://fonts.googleapis.com/css?family=Amethysta:700|Amethysta:400');

body {
    font-family: 'Amethysta';
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root,
html[data-theme="light"] {
    --background: #ebf2fa;
    --darker-background-opacity: #ffffff;
    --darker-background: #ECEEEB;
    --text: #2c2d30;
    --accent: hsl(161, 26%, 72%);
    --primary: #B2C0B3;
    --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
    --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;

    --padding: calc(8px + 1.5625vw);

    --fs-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
    --fs-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
    --fs-mdMinus: clamp(1.13rem, 0.47vw + 1rem, 1.28rem);
    --fs-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
    --fs-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --fs-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
    --fs-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    --fs-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
    --fs-4xl: clamp(3.55rem, 4.04vw + 2.47rem, 6rem);

    --bigger-inner-shadow: 0.3rem 0.3rem 0 0 #475651;
    --bigger-outer-shadow: -0.3rem -0.3rem 0 0 #475651;
}

html[data-theme="dark"] {
    --background: #2c2d30;
    --darker-background-opacity: #1414146b;
    --darker-background: #141414;
    --text: #ebf2fa;
    --accent: #475651;
    --primary: #B2C0B3;
    --outer-shadow: 3px 3px 3px #202125, -3px -3px 3px #2b2b2b;
    --inner-shadow: inset 3px 3px 3px #202125, inset -3px -3px 3px #2b2b2b;
}


html {
    font-size: 100%;
}


*,
::before,
::after {
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-size: var(--fs-base);
}



/*============== HEADER ==============*/
.home__header {
    height: 100vh;
    position: relative;
    background: url('http://api.thumbr.it/whitenoise-361x370.png?background=#B2C0B3ff&noise=ffffff&density=50&opacity=10')!important;
}



/*============== MENU BOUTON MOBILE ==============*/
.mobile__menu {
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text);
    cursor: pointer;
    z-index: 100;
    border: 1px solid var(--text);
    background-color: var(--background);
    padding: 3px;
    border-radius: 5px;
}

.mobile__menu ion-icon {
    font-size: var(--fs-md);
}

/*============== END MENU BOUTON MOBILE ==============*/


/*============== NAV MOBILE ==============*/
nav.hide__lg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    font-size: var(--fs-sm);
    transform: translateX(-100%);
    transition: transform 0.3s;
    z-index: 99;
    background-color: var(--background);

}

nav.hide__lg.nav__show {
    transform: translateX(0);
    transition: transform 0.3s;
}

nav.hide__lg .nav__menu {
    width: 90%;
    height: 100%;
    display: flex;
    margin: auto;
    align-items: center;
}

nav.hide__lg .nav__menu .nav__list {
    margin: 0;
    padding: 10px;
    width: 100%;
}

nav.hide__lg .nav__menu .nav__list .nav__item {
    list-style-type: none;
    padding: 10px 0;
}

nav.hide__lg .nav__menu .nav__list .nav__item .nav__link {
    display: flex;
    border-left: 2px solid transparent;
    justify-content: space-between;
    text-decoration: none;
    color: var(--text);
    padding: 10px;
    transition: border 0.3s, color 0.3s;
}

nav.hide__lg .nav__menu .nav__list .nav__item .nav__link:hover,
nav .nav__menu .nav__list .nav__item .nav__link.active {
    color: var(--accent);
    border-left: 2px solid var(--accent);
    transition: border 0.3s, color 0.3s;
}

nav.hide__lg .nav__menu .nav__list .nav__item .nav__link .ion-icon {
    font-size: var(--fs-sm);
}

nav.hide__lg .nav__menu .nav__list .nav__item .nav__link .nav__left {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav.hide__lg .nav__menu .nav__list .nav__item .nav__link .nav__left p {
    margin: 0 15px;
}

nav.hide__lg .nav__menu .nav__list .nav__item .nav__link .nav__right {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav.hide__lg .home .home__data {
    width: 85%;
}

nav.hide__lg .home .home__data::before {
    display: none;
}

/*============== END NAV MOBILE ==============*/


/*============== NAV LARGE SCREEN ==============*/
.home__header .home__nav {
    position: fixed;
    background-color: var(--background);
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 99;
    font-size: var(--fs-sm);
    box-shadow: var(--outer-shadow);
    transition: 0.3s, color 0s, background-color 0s, box-shadow 0s;
}

/*============== BUTTON BORDER ==============*/
/* .container {
    max-width: 1280px;
    margin: 0 auto;
    box-shadow: 0 0 8px var(--text);
}

.container .home__nav {
    width: 1280px;
} */

/*============== END BUTTON BORDER ==============*/


.home__header .home__nav ul {
    display: flex;
    align-items: center;
}

.home__header .home__nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: var(--background);
}

.home__header .home__nav ul li a {
    display: flex;
    align-items: center;
    gap: 0.5em;
    /* padding: 15px 22px; */
    padding: var(--fs-sm);
    text-decoration: none;
    color: var(--text);
    text-transform: capitalize;
    z-index: 2;
    border: 2px solid transparent;
}

.home__header .home__nav ul li a:hover,
.home__header .home__nav ul li a.active,
.home__header .home__nav .home__switch:hover {
    background-color: var(--accent);
    /* transition: 0.3s, color 0s, background-color 0s; */
}



/*============== DARK LIGHT BUTTON ==============*/
.home__header .home__nav .home__switch {
    padding: var(--fs-sm);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--text);
}

.home__header .home__nav .home__switch ion-icon {
    margin-right: 10px
}

.home__switch.hide__lg {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 100;
    background-color: var(--text);
    color: var(--background);
    font-size: var(--fs-base);
    border-radius: 5px;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*============== END DARK LIGHT BUTTON ==============*/


/*============== SCROLL PAGE - CHANGE MENU ==============*/
.home__header .home__nav.scroll {
    left: 50%;
    transform: translate(-50%);
    width: fit-content;
    line-height: 1px;
    background-color: var(--background);
    border: 1px solid var(--text);
    border-top: none;
    box-shadow: none;
    transition: border 0s;
}

.home__header .home__nav.scroll ul li a {
    padding: var(--fs-base);
    gap: 0.5em;
}

.home__header .home__nav.scroll .home__switch {
    margin-left: var(--fs-xxxl);
    border-top: none;
    background-color: var(--background);
}

.home__header .home__nav.scroll ul li a:hover,
.home__header .home__nav.scroll ul li a.active,
.home__header .home__nav.scroll .home__switch:hover {
    background-color: var(--accent);
}

.home__header .home__nav.scroll ul li a ion-icon,
.home__header .home__nav.scroll .home__switch p {
    display: none;
}

.home__header .home__nav.scroll .home__switch ion-icon {
    margin: 0;
}

/*============== END SCROLL PAGE - CHANGE MENU ==============*/



/*============== HOME TITLE ==============*/
.home__header .home__description {
    height: 100%;
    background-color: var(--background);
    color: var(--text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Offside';
}

.home__header .home__description h2 {
    font-size: var(--fs-xl);
}

.home__header .home__description h1 {
    color: var(--secondary);
    font-size: var(--fs-xxl);
    -webkit-text-stroke: 2.2pt var(--text);
}

.home__header .home__description h1 span {
    margin-left: 10px;
    -webkit-text-stroke: 3pt var(--accent);
}

.home__header .home__description h3 {
    font-size: var(--fs-md);
    margin-top: var(--fs-xl);
}

/*============== HOME SOCIAL ==============*/
.home__links {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    border-right: 1px solid var(--text);
    gap: 1rem;
}

.home__links a {
    text-decoration: none;
    color: var(--text);
    font-size: var(--fs-base);
}

/*============== END HOME SOCIAL ==============*/
/*============== END HOME TITLE ==============*/


/*============== MAIN ==============*/
/*============== SECTIONS AFTER HOME ==============*/
main section {
    background-color: var(--background);
}

section:nth-of-type(odd) {
    background-color: var(--darker-background-opacity);
}

/*============== ALL TITLES SECTIONS ==============*/
section .section__title {
    padding: var(--fs-xxxl) 0;
    position: relative;
}

section .section__title::before,
section .section__title::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, gray 40%, gray 60%, transparent);
}

section .section__title::before {
    top: 0;
}

section .section__title::after {
    bottom: 0;
}

section .section__title h2 {
    position: relative;
    font-weight: 300;
    color: var(--primary);
    font-size: var(--fs-lg);
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--text);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

section .section__title h2 span {
    font-size: var(--fs-xxxl);
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: calc(var(--fs-md) * -1);
    z-index: 0;
    opacity: 0.04;
    font-family: 'Montserrat', sans-serif;
}

section .section__smallTitle {
    width: fit-content;
    margin: auto;
    padding: var(--fs-sm);
    border: 1px solid gray;
    border-top: none;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: var(--text);
    font-size: var(--fs-sm);
    display: flex;
    align-items: center;
}

section .section__smallTitle ion-icon {
    margin-left: 10px;
}

/*============== END ALL TITLES SECTIONS ==============*/



/*============== ALL ARTICLES ==============*/
article {
    padding: var(--fs-4xl) var(--fs-xl);
    margin: 0 auto;
    max-width: 1280px;
}

/*============== END ALL ARTICLES ==============*/


/*============== PROJET SECTION ==============*/
.projet__wrapper {
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
}

.projet__wrapper .projet__item .projet__description {
    padding: var(--fs-base);
    background-color: var(--accent);
    border: 2px solid var(--text);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: var(--fs-sm);
    position: relative;
}

.projet__wrapper .projet__item .projet__description ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 10px;
    font-size: var(--fs-sm);
}

.projet__wrapper .projet__item .projet__description ul li {
    list-style-type: none;
    padding: 7px;
    color: var(--background);
    border-radius: 5px;
    border: 2px solid transparent;
}

.projet__wrapper .projet__item .projet__description ul li:nth-of-type(odd) {
    background-color: var(--text);
}

.projet__wrapper .projet__item .projet__description ul li:nth-of-type(even) {
    border: 2px solid var(--text);
    color: var(--text);
}

.projet__wrapper .projet__item .projet__description .demo {
    display: flex;
    margin-top: 10px;
    text-decoration: none;
    color: var(--text);
}

.projet__wrapper .projet__item .projet__description .demo p {
    display: flex;
    align-items: center;
}

.projet__wrapper .projet__item .projet__description .demo ion-icon {
    margin-left: 10px;
}


/*============== PROJET IMG ==============*/
.projet__wrapper .projet__item .projet__img {
    max-width: 400px;
    position: relative;
    border: solid 2px var(--text);
    background-color: var(--background);
}

.projet__wrapper .projet__item .projet__img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.projet__wrapper .projet__item .projet__img figcaption {
    position: absolute;
    bottom: 1rem;
    right: -2rem;
    padding: 0.5rem var(--fs-sm);
    background-color: var(--primary);
    color: var(--background);
    border: solid 2px #475651;
    -webkit-box-shadow: var(--bigger-inner-shadow);
    -moz-box-shadow: var(--bigger-inner-shadow);
    box-shadow: var(--bigger-inner-shadow);
    font-size: var(--fs-sm);

}

/*============== END PROJET IMG ==============*/
/*============== END PROJET SECTION ==============*/


/*============== ABOUT SECTION ==============*/
#about {
    position: relative;
}

.presentation__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-mdMinus);
    width: 70%;
    text-align: center;
    margin: auto;
    padding: var(--fs-xxxl);
}

.presentation__wrapper hr {
    width: 100px;
    height: 2px;
    background-color: var(--primary);
    margin: var(--fs-mdMinus) auto;
    opacity: 1;
    border: none;
}

.presentation__wrapper .presentation__globale p .yesStyle {
    position: relative;

}

.presentation__wrapper:hover .presentation__globale p .yesStyle::before {
    width: 100%;
    transition: width 0.5s;
}

.presentation__wrapper .presentation__globale p .yesStyle::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 0%;
    height: 40%;
    left: 0;
    bottom: 0;
    opacity: 0.4;
    background-color: var(--primary);
    transition: width 0.5s;
}

.noStyle {
    font-weight: normal;
    font-style: normal;
}

/*============== END ABOUT SECTION ==============*/



/*============== PARCOURS SECTION ==============*/
.parcours__wrapper {
    display: flex;
    justify-content: space-evenly;
}

.parcours__wrapper .parcours__item h3 {
    margin: var(--fs-md) 0;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.parcours__wrapper .parcours__item h3:first-of-type {
    letter-spacing: 1.5px;
}

.parcours__wrapper .parcours__item .parcours__info h3 {
    text-decoration: underline;
}

.parcours__wrapper .parcours__item h3 ion-icon {
    margin-right: 10px;
}

.parcours__wrapper .parcours__item .parcours__info {
    padding: 10px 0px 10px var(--fs-xl);
    position: relative;
    margin: 20px 0;
    height: 100px;
    transition: height 0.3s;
}

/*============== HAUTEUR AU CLIC DU BOUTON MORE ==============*/
.parcours__wrapper .parcours__item .parcours__info.show__more-info {
    height: 170px;
    transition: height 0.3s;
}

.parcours__wrapper .parcours__item .parcours__info h3 {
    font-size: var(--small-font-size);
    margin: 5px 0;
}

/*============== TRAIT A GAUCHE DES PARCOURS ==============*/
.parcours__wrapper .parcours__item .parcours__info::before {
    content: "";
    position: absolute;
    top: 0;
    left: 5px;
    width: 1px;
    height: 100%;
    background-color: var(--text);
}

/*============== ROND SUR LE TRAIT A GAUCHE DES PARCOURS ==============*/
.parcours__wrapper .parcours__item .parcours__info::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -2px;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background-color: var(--accent);
    border-radius: 50%;
}

.parcours__wrapper .parcours__item .parcours__info p {
    font-size: var(--small-font-size);
}

/*============== DATE ==============*/
.parcours__wrapper .parcours__item .parcours__info .parcours__timeline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    cursor: pointer;
    font-size: var(--fs-sm);
}

.parcours__wrapper .parcours__item .parcours__info .parcours__timeline span {
    font-size: var(--smaller-font-size);
    display: flex;
    align-items: center;

}

.parcours__wrapper .parcours__item .parcours__info .parcours__timeline span ion-icon {
    margin-right: 10px;
    color: var(--primary)
}

.parcours__wrapper .parcours__item .parcours__info .parcours__timeline ion-icon {
    color: var(--text)
}

/*============== END DATE ==============*/


/*============== MENU DEPLIANT - MORE INFO ==============*/
.parcours__wrapper .parcours__item .parcours__info .parcours__more {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s;
    font-size: var(--fs-sm);
}

.parcours__wrapper .parcours__item .parcours__info .parcours__more.parcours__more__show {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.2s, opacity 0.2s;
}

.parcours__wrapper .parcours__item .parcours__info .parcours__more .parcours__techno {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.parcours__wrapper .parcours__item .parcours__info .parcours__more .parcours__techno li {
    list-style-type: none;
    color: var(--text);
    padding: 7px;
    border-radius: 5px;
    margin: 10px 10px 10px 0;
    border: 2px solid transparent;
}

.parcours__wrapper .parcours__item .parcours__info .parcours__more .parcours__techno li:nth-of-type(odd) {
    background-color: var(--accent);
}

.parcours__wrapper .parcours__item .parcours__info .parcours__more .parcours__techno li:nth-of-type(even) {
    border: 2px solid var(--accent);
    /* color : var(--background); */
}

/*============== END PARCOURS SECTION ==============*/


/*============== CONTACT SECTION ==============*/
#contact {
    background-color: var(--accent);
}

#contact .section__title::before,
#contact .section__title::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, var(--background) 40%, var(--background) 60%, transparent);
}

#contact .section__smallTitle {
    border: 1px solid var(--background);
    border-top: none;
}

#contact article {
    margin: auto;
    padding: var(--fs-xxxl) 0;
}

#contact-form {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

#contact-form .row {
    justify-content: space-between;
    width: 70%;
    margin: auto;
}

#contact-form .row:first-of-type .input-group {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}

#contact-form .row:nth-of-type(2) .input-group {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}

#contact-form .row input:not([type=submit]),
#contact-form .row textarea {
    padding: 10px 0;
    border: none;
    border-right: 2px solid transparent;
    width: 100%;
    border-bottom: 1px solid var(--text);
    background-color: transparent;
    outline: none;
    margin: 5px 0 var(--fs-lg) 0;
    font-size: var(--normal-font-size);
    color: var(--text);
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}

#contact-form .row input::placeholder,
#contact-form .row textarea::placeholder {
    color: var(--text);
    font-family: 'Amethysta';
}

#contact-form .row input:focus::placeholder,
#contact-form .row textarea:focus::placeholder {
    color: transparent;
}

#contact-form .row input:not([type=submit]):focus+label,
#contact-form .row textarea:focus+label {
    opacity: 1 !important;
}

#contact-form .row input:not([type=submit]):focus,
#contact-form .row textarea:focus {
    border-bottom: 1px solid var(--text) !important;
}

#contact-form .row label {
    font-size: var(--smaller-font-size);
    opacity: 0.5;
}

#contact-form .row textarea {
    resize: none;
    height: 100px;
}

#contact-form #submit {
    padding: var(--fs-base) var(--fs-md);
    color: var(--text);
    border: none;
    background-color: var(--text);
    outline: none;
    cursor: pointer;
    width: 40%;
    margin: auto;
    position: relative;
    z-index: 1;
    transition: transform .2s cubic-bezier(.34, 1.56, .64, 1);
}

#contact-form #submit:after {
    position: absolute;
    content: attr(data-content);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--background);
    color: var(--color-dark);
    border: solid 2px var(--text);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-0.3rem, -0.3rem);
    transition: transform .2s cubic-bezier(.34, 1.56, .64, 1);
}

#contact-form #submit:hover:after {
    transform: translate(0, 0);
}


#contact-form .message {
    background-color: var(--text);
    color: var(--background);
    width: 40%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: var(--fs-md);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
    text-align: center;
    z-index: 9;
}

#contact-form .message.active {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s, opacity 0.3s;
}

/*============== END CONTACT SECTION ==============*/



.footer__page {
    position: relative;
    background-color: var(--darker-background);
    color: var(--background);
    padding: var(--fs-md);
    text-align: center;
    height: 100px;
    border-top: 1px solid var(--text)
}

.footer__page .footer__goUp {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    font-size: var(--h1-font-size);
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--text);
}

.footer__page .footer__goUp a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--background);
    padding: 8px;
}

.footer__page .footer__social {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__page .footer__social .footer__links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__page .footer__social .footer__links ion-icon {
    margin: 0 var(--fs-base);
    font-size: var(--fs-mdMinus);
    cursor: pointer;
    color: var(--text);
}



@media screen and (min-width: 1024px) {
    .hide__lg {
        display: none !important;
    }
}

@media screen and (max-width: 1024px) {
    :root {
        --inner-shadow: 0.2rem 0.2rem 0 0 var(--text);
        --outer-shadow: -0.2rem -0.2rem 0 0 var(--text);
    }

    .hide__mobile {
        display: none !important;
    }

    .hide__lg {
        display: flex !important;
    }

    .home__header .home__description {
        text-align: center;
    }

    .home__header .home__description h2 {
        margin-bottom: 20px;
    }



    /*============== PROJET ==============*/
    .projet__wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: var(--fs-xl)
    }

    .projet__wrapper .projet__item .projet__img {
        /* max-width: 200px; */
        /* position: relative;
        border: solid 2px var(--text);
        background-color: var(--background);
        margin: auto; */
    }

    .projet__wrapper .projet__item .projet__description::before {
        z-index: -1;
        width: 60%;
    }

    .projet__wrapper .projet__item .projet__img figcaption {
        box-shadow: var(--bigger-outer-shadow)
    }

    /*============== PRESENTATION ==============*/
    .presentation__wrapper,
    .projet__wrapper .projet__item .projet__description {
        font-size: var(--fs-base);
    }


    /*============== PARCOURS ==============*/
    .parcours__wrapper {
        display: flex;
        flex-direction: column;
        width: 95%;
        font-size: var(--fs-sm)
    }

    #contact-form .message {
        width: 70%;
    }

    .presentation__wrapper {
        width: 80%;
    }

    .parcours__wrapper .parcours__item .parcours__info.show__more-info {
        height: 145px;
    }

    /*============== HOME LINKS ==============*/
    .home__links {
        position: absolute;
        bottom: 5%;
        top: auto;
        left: 50%;
        transform: translate(-50%);
        display: flex;
        flex-direction: row;
        padding-top: 15px;
        border-top: 1px solid var(--text);
        border-right: none;
        gap: 1rem;
        padding-right: 0;
    }

    .home__links a {
        text-decoration: none;
        color: var(--text);
        font-size: var(--fs-base);
    }

    .home__header .home__description h1 {
        -webkit-text-stroke: 1.8pt var(--text);
    }
}


@media screen and (min-width: 768px) and (max-width: 1024px) {

    /*============== PARCOURS ==============*/
    .parcours__item {
        width: 70%;
        margin: auto;
    }

    /*============== PROJETS ==============*/
    .projet__item {
        display: flex;
    }

    .projet__wrapper .projet__item .projet__img {
        /* border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px; */
        /* overflow: hidden; */
    }

    .projet__wrapper .projet__item .projet__img figcaption {
        left: -2rem;
        right: auto;
    }

    .projet__wrapper .projet__item .projet__description {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-left: var(--fs-lg);
        /* margin-top: 0; */
        display: flex;
        flex-direction: column;
        justify-content: center;

        height: fit-content;
        margin-top: auto;
        margin-bottom: auto;
    }




    /* .projet__wrapper .projet__item .projet__description::before {
        left: 0;
        transform: translate(-50%);
        top: 38%;
        height: 50px;
        border-top: 2px solid var(--text);
        border-bottom: 2px solid var(--text);
    } */
}


@media screen and (max-width: 468px) {
    section .section__title h2 span {
        font-size: 34px;
        top: -9px;
        /* color: red; */
    }

    section .section__title h2 {
        font-size : 20px;
    }

    .parcours__wrapper .parcours__item .parcours__info {
        height: 90px;
    }

    .home__header .home__description h3 {
        margin-left : 5px;
    }
}